{% extends "base.html"  %}
{% load static %}
{% block content  %}

<link rel='stylesheet' href='{% static "css/home_style.css" %}'>

</head>
<body >

<!-- NavBar -->
{% include 'components/nav.html'  %}

<!-- Main wrapper -->
<div id="wrapper" class="toggled" >

<!-- Sidebar -->
{% include 'components/sidenav.html'  %}

  <!-- Page wrapper -->
    <div id="page-content-wrapper">

        <!-- Main Container -->
        <div class="container-fluid">

            <!-- Jumbotron -->
	        <div class="row mb-4">
		        <div class="col-md-12">
			        <div class="jumbotron " id="Res_j">
				        <div class="row">
				        <div class="col-lg-6 col-md-12">
                        <h1 class="display-4">{{res.nombre_res}}</h1>
                          <p class="lead">{{ res.descripcion}}</p>
                          <hr class="my-4">
                          <h5>Contacto</h5>
                          <p>{{ res.telefono }}</p>
                          <p>{{ res.domicilio}}</p>
                         </div>
				        <div class="col-lg-6 col-md-12">
				        <img class="img-fluid img-thumbnail" src="{{ res.logo.url }}" />
                        </div>
                            </div>

			        </div>
		        </div>
	        </div>
            <!-- End Jumbotron -->


            <!-- Cards row -->
            {% include 'components/inf_cards_p.html' with queryset=queryset %}

        {% include 'components/footer.html'  %}

        <!-- Ends Main Container -->
        </div>

    <!-- Ends Page Container -->
    </div>

    <!-- JS para home -->
    <script src='{% static "js/home_script.js" %}'></script>

<!-- Ends Main Wrapper -->
</div>

</body>
{% endblock content   %}