
<div class="row mb-4">
	<div class="col-md-12">
		<div class="row mb-4">
        {% for i in queryset %}
			<div class="col-md-4">
				<div class="card mb-3 p-2">
					<img class="card-img-top " src="{{ i.logo.url }}" />
						<div class="card-block ">
							<h5 class="card-title">
								{{ i.platillo }}
							</h5>
							<p class="card-text">
								 {{ i.descripcion|truncatewords:12 }}
							</p>
							<p>
								<a class="btn grow" id="agregar" href="{{i.get_url}}">Ver mas</a>
							</p>
						</div>
				</div>
			</div>
        {% endfor %}
        </div>
	</div>
</div>