
<div id="sidebar-wrapper" class="mt-0">
   <ul class="sidebar-nav option_text">
       <li>
           <a href="#" class="option_brand mb-4">  Categorias </a>
       </li>
       <li>
           <a href="#">Hamburguesas</a>
       </li>
       <li>
           <a href="#">Pizza</a>
       </li>
       <li>
           <a href="#">Ensaladas</a>
       </li>
       <li>
           <a href="#">Pasta</a>
       </li>
       <li>
           <a href="#">Mariscos</a>
       </li>
       <li>
           <a href="#">Burritos</a>
       </li>
   </ul>
</div>